In [1]:
from openpyxl import load_workbook
import xlwings as xw
import os 
import pandas as pd
import numpy as np
import re
import itertools
from datetime import date,timedelta
from xlwings.constants import DeleteShiftDirection
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
from dfply import *

In [3]:
# 今日日期
# Return the day of the week as an integer, where Monday is 0 and Sunday is 6. For example, date(2002, 12, 4).weekday() == 2, a Wednesday. See also isoweekday().
if date.today().weekday() == 0:
    nowDate = date.today() - timedelta(days = 3)
else:
    nowDate = date.today() - timedelta(days = 1)
todaynum = re.sub('-', '', str(nowDate))
nowYm = str(nowDate)[:7]
nowMD = nowDate.strftime("%m%d")
print(nowDate, todaynum , nowYm , nowMD)

# 本地端日報資料夾
filePath = "C:/Users/0305/Desktop/Daily PNL"
os.chdir(filePath)
if not nowYm in os.listdir(filePath):
    os.mkdir(nowYm)
filePath = filePath + '/' + nowYm
os.chdir(filePath)

if not nowMD in os.listdir(filePath):
    os.mkdir(nowMD)
filePath = filePath + '/' + nowMD
os.chdir(filePath)
#path = 'C:/Users/0305/Desktop/Daily PNL/'+nowYm+'/'+ nowMD 
#os.chdir(path)
os.listdir(filePath)

2021-01-22 20210122 2021-01 0122

['.Rhistory',
 '20210122_LP_swap_detail.xlsx',
 '20210122_RTvalue.xlsx',
 'AU2 90034- Rebate_20210122.xlsx',
 'AU2 90050- Rebate_20210122.xlsx',
 'AU2 90076- Rebate_20210122.xlsx',
 'AU2 90085- Rebate_20210122.xlsx',
 'AU2 90094- Rebate_20210122.xlsx',
 'B -PNL-vfx-20210122.xlsx',
 'B -PNL-vfx2-20210122.xlsx',
 'B-PNL-Mt5-20210122.xlsx',
 'b_vfx2_check20210122.xlsx',
 'b_vfx_check20210122.xlsx',
 'equity_change_vfx.csv',
 'equity_change_vfx2.csv',
 'Equity_VIG_20210122.xlsx',
 'LP statement- 2021-0122.xlsx',
 'million_value20210122.xlsx',
 'mt4_bookchange_mt4_trades.csv',
 'STP PL vfx-20210122.xlsx',
 'VANTAGE-CFD PNL-20210122.xlsx',
 'VANTAGE-stock PNL-20210122.xlsx',
 'Vanuatu_VIG PNL-20210122.xlsx',
 'VIG PNL.xlsx',
 '~$b_vfx_check20210122.xlsx',
 '~$Vanuatu_VIG PNL-20210122.xlsx',
 '出入金-20210122.xlsm',
 '新增資料夾']

In [4]:
# 驗證流程 
# 1. PL balance + Closed balance + Deposit != balance 誤差絕對值 > 2 
check = pd.read_excel(filePath + '/' + 'b_vfx_check' + todaynum + '.xlsx')
PL_error_value = sum(check['PL balance + Closed balance + Deposit = balance'])
p_arr = check['PL balance + Closed balance + Deposit = balance'].values
PL_error_value
#p = check$`PL balance + Closed balance + Deposit = balance`
#l = c()
type(p_arr)

numpy.ndarray

In [5]:
l = list()
while abs(PL_error_value) >2 :
    if PL_error_value <0:
        # 找min 且abs < PL_error_value
        value_index = p_arr.argsort()[len(l)+1+sum(p_arr < PL_error_value)]
        value = p_arr[value_index]
        PL_error_value = PL_error_value - value
        l.append(value_index)
    if PL_error_value >0:
        # 找MAX 且不超過值
        value_index = p_arr.argsort()[-(len(l)+1+sum(p_arr > PL_error_value))]
        value = p_arr[value_index]
        PL_error_value = PL_error_value - value
        l.append(value_index)
print(l)

[9121, 9112]

In [14]:
# 資料庫設定
db_url = {
    'drivername' : 'mysql',
    'host' : "report.vi-data.net",
    'username' : "risktp",
    'password' : "reader9876",
    'port' : 3306,
    'query' : {'charset': 'BIG5'}
}


df = pd.DataFrame()
db = ['enfuk2report' , 'enfukreport' , 'enfau2report', 'enfaureport']
if len(l) > 0 :
    # connect mySQL
    engine = create_engine(URL(**db_url), encoding="BIG5")
    error_login = check['Login'][l]
    # convert all element in list to string corresponding to mySQL statemenet 
    str_l = ["'%s'" % str(elem) for elem in error_login]
    idString = ", ".join(str_l)
    
    # for each db
    for i in range(len(db)):
        mt4schema = db[i]
        sql_fmt = "select * from " + mt4schema + ".mt4_daily where LOGIN in (%s);" % idString
        sql_df = pd.read_sql_query(sql_fmt, engine)
        # pd select
        sql_df = (sql_df >>
                     select(X.TIME, X.LOGIN, X.GROUP, X.BALANCE_PREV, X.PROFIT_CLOSED, X.DEPOSIT, X.BALANCE,
                            X.PROFIT, X.CREDIT, X.EQUITY, X.MARGIN, X.MARGIN_FREE) >>
                     arrange(desc(X.TIME)) >>
                     group_by(X.LOGIN) >>
                     row_slice([0,1]) )
        df = pd.concat([df,sql_df])
print(sql_fmt)
df.tail(20)

select * from enfaureport.mt4_daily where LOGIN in ('690933', '691014');

,TIME,LOGIN,GROUP,BALANCE_PREV,PROFIT_CLOSED,DEPOSIT,BALANCE,PROFIT,CREDIT,EQUITY,MARGIN,MARGIN_FREE
132,2021-01-22 23:59:59,690933,M_V_90096_HKD,1304665.30,0.0,889.49,1305554.79,0.0,0.0,1305554.79,0.0,1305554.79
131,2021-01-21 23:59:59,690933,M_V_90096_HKD,1302609.78,0.0,2055.52,1304665.30,0.0,0.0,1304665.30,0.0,1304665.30
265,2021-01-22 23:59:59,691014,M_V_90096_HKD,1219476.29,0.0,831.42,1220307.71,0.0,0.0,1220307.71,0.0,1220307.71
264,2021-01-21 23:59:59,691014,M_V_90096_HKD,1217554.99,0.0,1921.30,1219476.29,0.0,0.0,1219476.29,0.0,1219476.29

In [15]:
# 尋找euqity , equity_y 代替rownumber
equity = pd.read_excel(filePath + '/' + 'B -PNL-vfx-' + todaynum + '.xlsx', sheet_name='equity')

In [54]:
equity >>mutate(rownumber = np.arange(len(equity))+2) >>mask(X.Login.isin(df['LOGIN'].values))

,db,Login,Group,PL.Balance,Closed.PL,Deposit,Balance,Floating.PL,Credit,Equity,...,test,notest,MNT,Normal,(E-C)_T,(E-C)_Y,Cash Adjustment - Debt W/O,Unarchive,Master,rownumber
9082,VAU2,691014,M_V_90096_HKD,1219476.29,0.0,831.42,1220307.71,0.0,0.0,1220307.71,...,False,False,True,False,0.0,0.0,0.0,NO,False,9084
9091,VAU2,690933,M_V_90096_HKD,1304665.30,0.0,889.49,1305554.79,0.0,0.0,1305554.79,...,False,False,True,False,0.0,0.0,0.0,NO,False,9093

In [53]:
equity1 = (equity >>
           # +2 : python startwith 0 & columns
           mutate(rownumber = np.arange(len(equity))+2) >>
           mask(X.Login.isin(df['LOGIN'].values)) >>
           left_join
equity1

SyntaxError: invalid syntax (<ipython-input-53-085b109364bf>, line 5)

In [ ]:
# 1.修正PL balance + Closed balance + Deposit = balance
# equity change
if not df.empty :
    # 更改第一天權益
    wb = xw.books('B -PNL-vfx-'+str(todaynum)+'.xlsx')
    sht = wb.sheets['equity']
    df_t0 = df >> group_by(X.LOGIN) >> row_slice(0)
    for i in range(len(df_t0.index)):
        rownum = df_t0.iloc[i, 1]
        value = df_t0.iloc[i, 3:]
        # print(rownum)
        sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
        sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)
    # 更改第二天權益
    sht = wb.sheets['equity_Y']
    df = equity_change[equity_change['nday']==2]
    for i in range(len(df.index)):
        rownum = df.iloc[i, 1]
        value = df.iloc[i, 3:]
        # print(rownum)
        sht.range('D'+str(rownum)+":L"+str(rownum)).value = value.values
        sht.range('D'+str(rownum)+":L"+str(rownum)).color = (255,255,0)
    print('PL balance + Closed balance + Deposit = balance 修正完畢')
else : 
    print('PL balance + Closed balance + Deposit = balance今日無須更動')